[submodule "methtools"]
	path = methtools
	url = https://github.com/bgruening/methtools.git
[submodule "galaxytools"]
	path = galaxytools
	url = https://github.com/bgruening/galaxytools.git
[submodule "tools-iuc"]
	path = tools-iuc
	url = https://github.com/galaxyproject/tools-iuc.git
